.banner {
    background-image: linear-gradient(to top, #c1cecd, #9babaa, #768a89, #536a68, #324b4a);
}

.banner-container {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

.title-banner {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Expletus Sans', cursive;
}

.span-title {
    text-transform: none;
    font-size: 40px;
    color: #324B4A;
}

.subtitle-banner {
    font-size: 24px;
    width: 340px;
    font-family: 'Lato', sans-serif;
}

.img-banner {
    height: 260px;
}
