.buttons-user-container {
    width: 260px;
}

.ul-button-user {
    display: flex;
    justify-content: space-between;
}

.buttons-cart-container {
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.link-register {
    padding: 5px 14px;
    border: 2px solid #000;
}

.link-register:hover {
    border: 2px solid #C20000;
}

.link-login {
    padding: 5px 14px;
    background: #C20000;
    color: #000000;
    border: 2px solid #C20000;
}

.link-login:hover {
    background: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}