.container-cart {
    padding: 100px 0px;
    background: rgb(228, 228, 228);
}

.div-empty-cart {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.img-empty-cart {
    display: block;
    width: 500px;
}

.container-list-cart {
    width: 1100px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(124, 124, 124);
}