.container-cart {
    width: 1100px;
    background: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

.container-empty-cart {
    margin-top: 100px;
    margin: 100px auto 0px auto;
    width: 500px;
}

.img-empty-cart {
    display: block;
    width: 100%;
}

.container-back {
    margin-bottom: 40px;
}

.link-back {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.container-cart {
    width: 800px;
    margin: 80px auto;
}

.container-product-cart {
    box-shadow: 0px 0px 6px #bebebe;
    background: #33333313;
    padding: 20px;
}

.product-cart {
    background: #fff;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 1px 1px 6px rgb(180, 180, 180);
}

.product-cart:last-child {
    margin-bottom: 0px;
}

.container-img-text {
    display: flex;
    flex-direction: row;
}

.img-product-cart {
    display: inline-block;
    width: 140px;
    height: 80px;
    margin-right: 40px;
}

.text-product-cart {
    display: flex;
    flex-direction: column;
}

.title-product-cart {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.quantity-product-cart {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.price-product-cart {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.span-remove-cart {
    display: inline-block;
    padding: 4px 8px;
    background: #324b4aa2;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.button-clear-cart, .finish-cart-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 30px;
    cursor: pointer;
    color: #5b6f6e;
    border: 2px solid #5b6f6e;
    border-radius: 0px;
    background: transparent;
}

.container-price-clear {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-price-cart {
    margin: 40px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.finish-cart-link {
    text-decoration: none;
    margin-left: 20px;
    background: #324B4A;
    color: #ffffff;
    border: 2px solid #324B4A;
}