.cart-container {
    display: flex;
    align-items: flex-end;
}

.cart-img {
    height: 22px;
    margin-right: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.span-cart {
    display: inline-block;
    height: 18px;
    font-weight: 600;
    color: rgb(61, 61, 61);
    font-size: 18px;
}