.cart-container {
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 22px;
    margin-left: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.span-cart {
    display: inline-block;
    font-weight: 600;
    color: rgb(61, 61, 61);
    font-size: 15px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}