.container-checkout {
    padding: 80px 0px;
    text-align: center;
}

.title-checkout {
    font-size: 30px;
    margin-bottom: 20px;
}

.text-checkout {
    margin-bottom: 60px;
}

.form-checkout {
    padding: 20px;
    width: 360px;
    margin: auto;
    text-align: left;
    box-shadow: 0px 0px 10px rgb(182, 182, 182);
}

.div-input {
    margin-bottom: 25px;
}

.label-input {
    display: block;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.form-input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 6px;
}

.button-form {
    margin-top: 5px;
    padding: 6px 0px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border: 2px solid #000;
    color: #000;
    background: transparent;
    width: 100%;
}

.button-form:hover {
    border: 2px solid #C20000;
    color: #C20000;
    transition-duration: 0.6s;
}

.container-order-message {
    text-align: center;
    padding: 80px 0px;
}


.waiting-div {
    text-align: center;
    padding: 60px 0px;
}