.header {
    background: #c1cecd54;
}

.header-container {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
}