.products-div {
    background: #c1cecd54;
    padding: 80px 0px;
}

.products-container {
    width: 800px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.title-section {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Expletus Sans', cursive;
    color: #324B4A;
}



