.container-detail {
    padding: 40px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgb(170, 170, 170);
    background: rgb(243, 243, 243);
    text-align: left;
}

.div-img-detail {
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-detail {
    display: block;
    width: 400px;
}

.text-detail {
    width: 450px;
}

.title-detail {
    font-size: 26px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin-bottom: 10px;
}

.category-detail {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin-bottom: 30px;
}

.li-detail {
    margin-bottom: 10px;
}

.li-detail:last-child {
    margin-bottom: 0px;
}

.span-li-detail {
    font-weight: bold;
}

.price-detail {
    margin-top: 30px;
    font-size: 24px;
}

.link-finalizar {
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 14px;
    background: #C20000;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}