.product-card {
    padding: 20px;
    width: 240px;
    box-shadow: 0px 0px 4px rgb(200, 200, 200);
    background: rgb(243, 243, 243);
    font-family: 'Lato', sans-serif;
}

.product-card:hover {
    transform: scale(1.1);
}

.link-product {
    text-decoration: none;
    color: #000;
}

.div-img-product {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img-product {
    display: block;
    width: 95%;   
}

.category-product {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(102, 102, 102);
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(187, 187, 187);
}

.title-product {
    font-size: 16px;
    margin-bottom: 20px;
}

.price-product {
    font-size: 20px;
    font-weight: bold;
}