.title-section {
    text-align: center;
    text-transform: uppercase;
}

.products-div {
    background: rgb(228, 228, 228);
    padding: 80px 0px;
}

.products-container {
    width: 800px;
    margin: auto;
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    background: rgb(228, 228, 228);
}