.container-product-detail {
    width: 960px;
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgb(206, 206, 206);
    background: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.div-img-detail {
    height: 500px;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-detail {
    display: block;
    width: 100%;
}

.text-detail {
    width: 400px;
}

.title-detail {
    font-size: 26px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin-bottom: 10px;
}

.category-detail {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin-bottom: 30px;
}

.li-detail {
    margin-bottom: 10px;
}

.li-detail:last-child {
    margin-bottom: 0px;
}

.span-li-detail {
    font-weight: bold;
}

.price-detail {
    margin-top: 30px;
    font-size: 24px;
}

.link-finalizar {
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 14px;
    background: #324B4A;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}