.logotipo-container {
    width: fit-content;
}

.link-logotipo {
    color: #324B4A;
    text-decoration: none;
    display: inline-block;
    font-family: 'Expletus Sans', cursive;
    font-weight: 900;
    font-size: 24px;
}