.ul-nav {
    width: 340px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

.link-nav {
    color: #324B4A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.link-nav:hover {
    color: #324b4a80;
}
