li {
    list-style: none;
}

.link-nav {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.link-nav:hover {
    color: #C20000;
}

.ul-nav {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.ul-categories {
    position: absolute;
    top: 58px;
    display: none;
    background: rgb(255, 255, 255);
}

.ul-categories li {
    border-bottom: 1px solid rgb(104, 104, 104);
    padding: 10px 10px;
}