.div-warning {
    margin-top: 30px;
}

.title-warning {
    font-size: 100px;
    font-weight: 900;
    color: #324B4A;
    font-family: 'Expletus Sans', cursive;
    margin-bottom: 20px;
}

.text-warning {
    font-size: 24px;
    font-weight: 700;
    color: #324B4A;
    font-family: 'Lato', sans-serif;
}